body, html {
    height: 100%;
    margin: 0;
    color: #343a40;
    /* font-family: 'Just Another Hand', cursive; */
    font-family: 'Amatic SC', cursive;
    /* font-family: 'Barlow Condensed', sans-serif; */
    font-size: 16px;
}



/* NAV BAR */

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {  
    color: #E9D985;
}

.navbar-nav  {
    /* padding: 2% 0;
    background-color:#343a40; */
    margin-left: auto;
    margin-right: auto;
}

.nav-item {
    font-size: 300%;
    padding-right: 5%;
}

/* welcome screen */
.bg {   
    /* The image used */
    background-image: url("color-flora-flowers-945453.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titlecentered {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    color: #343a40;
    font-size: 100%;
    text-shadow: 1px 1px 10px white,  -1px 1px 10px white, 1px -1px 10px white;
    font-weight: 700;
}

.title {
    font-size: 600%;
    white-space: nowrap;
}
.subtitle {
    font-size: 300%;
}

@media all and (max-width: 655px){
    .title {
        font-size: 400%;
        white-space: nowrap;
    }
    .subtitle {
        font-size: 200%;
    }

}

#kasandraWells, #portfolio  {
    background-color: #E9D985;
    padding:10% 0;
}

#kasandraWells {
    padding: 10%;
}
#skills {
    background-color: white;
    padding: 10% 0;
}
/*Must change timeline background-color in timeline editor below*/
#timeline {
    padding: 50px 0 0 0;
}

.row {
    margin: auto;
}

.text{
    width: 100%;
    text-align: left;
}



/* @media only screen and (max-width: 613px){
    .text {
      font-size: 75%;
    }
} */
@media only screen and (max-width: 1100px){
    .text {
      font-size: 80%;
    }
}

@media only screen and (max-width: 400px){
    .text {
      font-size: 50%;
    }
}

.row p {    
    max-height: 320px;
}

.row .image {
    text-align: center;
}


#portfolio {
    background-color: #E9D985;
    padding: 10% 0;
}

footer {
    /* The image used */
    background-image: url("blur-colors-illuminated-714912.jpg");
    /* Full height */
    height: auto;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #BCA118;
}

#contact a {
    color: #BCA118;
}

#contact {
    padding-top: 25%;
}

h1 {
    text-transform:uppercase;
    font-weight: bold;
    padding-bottom: 10%;
}

#contact h1 {
    padding-bottom: 5%;
    text-shadow: 3px 3px #343a40;
}

h3 {
    font-weight: bold;
}

.container {
    text-align: center;
}

.fab, .fas {
    color: #BCA118;
    font-size: 5em;
    padding-bottom: 25%;
}

.fab:hover, .fas:hover
{
    opacity:0.7;
}
.fa-github, .fa-linkedin {
    text-shadow: 5px 5px #343a40;
}

#skills, #kasandraWells, #portfolio, #timeline {
    font-family: 'Barlow Condensed', sans-serif;
}

/*============================
 CODING PROJECTS IMAGE AND MODAL
 ============================= */

/* Zoom In #2 */
.Project figure img{
	width: 90%;
	height: auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.Project figure:hover img {
	width: 100%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    border-radius: 0rem;
    border: 0px;;
  }
  
  /* Caption of Modal Image */
  .caption {
    margin: auto;
    display: block;
    overflow-y: scroll;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color:white;
    background-color:#343A40;
    padding: 2%;
    height: 150px;
    font-size: 150%;
    outline: 0;

  }
  
  /* Add Animation */
  .modal-content, .caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }

  }
/*==================================================================================
    TIMELINE STYLING
 =================================================================================*/
/*POSITIONING*/
#timeline .demo-card-wrapper {
    position: relative;
    margin: auto;
}

@media (min-width: 1000px) {
    #timeline .demo-card-wrapper {
        display: flex;
        flex-flow: column wrap;
        width: 1170px;
        height: 1650px;
        margin: 0 auto;
    }
}

#timeline .demo-card-wrapper::after {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid rgba(191, 191, 191, 0.4);
}

@media (min-width: 1000px) {
    #timeline .demo-card-wrapper::after {
        border-left: 1px solid #343a40;
    }
}

/*MAKE ENTIRE BACKGROUND OF CARDS DARK COLOR*/
#timeline .demo-card--step1 {
    background-color: #343a40;
}

    #timeline .demo-card--step1 .head::after {
        border-color: #343a40;
    }

#timeline .demo-card--step2 {
    background-color: #343a40;
}

    #timeline .demo-card--step2 .head::after {
        border-color: #343a40;
    }

#timeline .demo-card--step3 {
    background-color: #343a40;
}

    #timeline .demo-card--step3 .head::after {
        border-color: #343a40;
    }

#timeline .demo-card--step4 {
    background-color: #343a40;
}

    #timeline .demo-card--step4 .head::after {
        border-color: #343a40;
    }

#timeline .demo-card--step5 {
    background-color: #343a40;
}

    #timeline .demo-card--step5 .head::after {
        border-color: #343a40;
    }

#timeline .demo-card--step6 {
    background-color: #343a40;
}

    #timeline .demo-card--step6 .head::after {
        border-color: #343a40;
    }

/*CREATE BOX FOR YEAR*/
#timeline .demo-card .head .number-box {
    display: inline;
    margin: 15px;
    padding: 10px;
    font-size: 25px;
    line-height: 35px;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.17);
}
/*FORMAT HEADER*/
#timeline .demo-card .head {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 400;
}

/*FORMAT DESCRIPTIVE TEXT ABOVE IMAGE*/

#timeline p.leader {
    text-align: center;
    max-width: 90%;
    margin: auto;
    margin-bottom: 45px;
}
/*CREATE BOX FOR IMAGES*/
#timeline .demo-card .bodytemp {
    background: #fff;
    border: 1px solid rgba(191, 191, 191, 0.4);
    border-top: 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 1000px) {
    #timeline .demo-card .bodytemp {
        height: 315px;
    }
}

#timeline .demo-card .bodytemp p {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 15px;
    text-align: left;
}

#timeline .demo-card .bodytemp img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    padding: 5%;
}

/*STYLING FOR h2*/
#timeline .demo-card .head h2 {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: inherit;
    
    margin: 0;
    padding-bottom: 6px;
    line-height: 2rem;
}

@media (min-width: 480px) {
    #timeline .demo-card .head h2 {
        font-size: 165%;
        line-height: 2rem;
    }
}

#timeline .demo-card .head h2 span {
    display: block;
    font-size: 0.6rem;
    margin: 0;
}

@media (min-width: 480px) {
    #timeline .demo-card .head h2 span {
        font-size: 0.8rem;
    }
}

/*FORMATING EACH CARD*/
#timeline .demo-card {
    position: relative;
    display: block;
    margin: 10px auto 80px;
    max-width: 94%;
    z-index: 2;
}

@media (min-width: 480px) {
    #timeline .demo-card {
        max-width: 60%;
        box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
    }
}

@media (min-width: 720px) {
    #timeline .demo-card {
        max-width: 40%;
    }
}

@media (min-width: 1000px) {
    #timeline .demo-card {
        max-width: 450px;
        height: 400px;
        margin: 90px;
        margin-top: 45px;
        margin-bottom: 45px;
    }
}

/* Media Queries */
/* Card sizing */
/* Colors */
/* Calculations */
/* Placeholders */
@media (min-width: 1000px) {
    #timeline .demo-card:nth-child(odd) .head::after, #timeline .demo-card:nth-child(even) .head::after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
    }

    /*timeline with dots*/
    #timeline .demo-card:nth-child(odd) .head::before, #timeline .demo-card:nth-child(even) .head::before {
        position: absolute;
        content: "";
        width: 9px;
        height: 9px;
        background-color: #343a40;
        border-radius: 9px;
        
    }
}
/* Some Cool Stuff */
.demo-card:nth-child(1) {
    order: 1;
}

.demo-card:nth-child(2) {
    order: 4;
}

.demo-card:nth-child(3) {
    order: 2;
}

.demo-card:nth-child(4) {
    order: 5;
}

.demo-card:nth-child(5) {
    order: 3;
}
.demo-card:nth-child(6) {
    order: 6;
}
.demo-carddemo-card demo-card--step1:nth-child(7) {
    order: 7;
}

/* Border Box */
* {
    box-sizing: border-box;
}

/* Fonts */

/*Change background-color here*/
#timeline {
    padding: 10%;
    background: white;
    text-align: center;
    
}

    #timeline .demo-card:nth-child(odd) {
        margin-right: 45px;
    }

        #timeline .demo-card:nth-child(odd) .head::after {
            border-left-width: 15px;
            border-left-style: solid;
            left: 100%;
        }

        #timeline .demo-card:nth-child(odd) .head::before {
            left: 491.5px;
        }

    #timeline .demo-card:nth-child(even) {
        margin-left: 45px;
    }

        #timeline .demo-card:nth-child(even) .head::after {
            border-right-width: 15px;
            border-right-style: solid;
            right: 100%;
        }

        #timeline .demo-card:nth-child(even) .head::before {
            right: 489.5px;
        }

    #timeline .demo-card:nth-child(2) {
        margin-top: 180px;
    }

    p {
        font-size: 175%;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
        
    }

    img { 
        max-width: 100%; 
        height: auto;
        flex-shrink: 1;
     }
     .bodytemp img {
         max-width: 300px;
     }

     .fa-linkedin {
         padding-left: 5%;
     }

     /* Hide NavBar when modal appears */

     /* #navigation {
        display: hide;
    } */